<div *ngIf="isLoadingPlaces" class="alert alert-primary mt2 text-center">
  <h6>Cargando</h6>
  <span>Espere por favor...</span>
</div>
<ul class="list-group mt-2" *ngIf="places.length > 0">
  <li class="list-group-item list-group-item-action pointer active" [class.active]="place.id === selectdId"
    *ngFor="let place of places" (click)="flyTo(place)">
    <h6>{{place.text_es}}</h6>
    <p>
      {{place.place_name}}
    </p>
    <button class="btn btn-sm" [ngClass]="(place.id === selectdId) ? 'btn btn-light':'btn btn-primary'" (click)="getDirections(place)">
      Direcciones
    </button>
  </li>
</ul>
