<div class="search-container">
  <input type="text"
  class="form-control"
  placeholder="Buscar Lugar"
  #textQuery

  (keyup)="onQueryChanged(textQuery.value)">
  <!--  -->
  <app-search-results></app-search-results>
</div>
